<div class="container mt-5">
    <h4>Dashboard for basic users</h4>
    <hr>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque quibusdam dolorem qui iure mollitia dolores, porro quam sed earum veritatis repudiandae eveniet a voluptatum eum consequuntur natus aliquam amet laborum!</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque quibusdam dolorem qui iure mollitia dolores, porro quam sed earum veritatis repudiandae eveniet a voluptatum eum consequuntur natus aliquam amet laborum!</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque quibusdam dolorem qui iure mollitia dolores, porro quam sed earum veritatis repudiandae eveniet a voluptatum eum consequuntur natus aliquam amet laborum!</p>
</div>